/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#form-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para el formulario */
#form-container {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Estilos para las etiquetas de los campos del formulario */
.form-group label {
    display: inline-block;
    width: 150px; /* Ancho fijo para las etiquetas */
    text-align: right;
    margin-right: 10px; /* Espacio entre la etiqueta y el campo de entrada */
}

/* Estilos para los campos de entrada del formulario */
.form-group input[type="text"],
.form-group input[type="date"] {
    width: calc(100% - 160px); /* Ancho fijo para los campos de entrada */
    padding: 5px;
    margin-bottom: 10px;
}

/* Estilos para el botón de enviar */
#data-form button {
    width: 100%;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    padding: 10px 20px;
    background-color: #70b2e7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#data-form button:hover {
    background-color: #45a049;
}

/* Estilos para el contenedor del logo */
#logo-container {
    text-align: center;
    margin-bottom: -100px;
}

/* Estilos para la imagen del logo */
#logo-container img {
    width: 250px; /* Ajusta el ancho del logo según sea necesario */
    height: auto; /* Mantiene la proporción original del logo */
}


#form-container table {
    width: 100%;
    border-collapse: collapse; /* Colapsa los bordes de la tabla */
}

/* Estilos para las celdas de la tabla */
#form-container td {
    padding: 10px; /* Ajusta el espacio interno de las celdas */
}

/* Estilos para las etiquetas de los campos del formulario */
#form-container label {
    display: inline-block;
    width: 120px; /* Ancho fijo para las etiquetas */
    font-weight: bold; /* Negrita para los títulos */
    white-space: nowrap; /* Evita que el texto se rompa en múltiples líneas */
    margin-right: 10px; /* Añade un espacio entre las etiquetas y los campos de entrada */
}

